@import "tailwindcss";
@plugin "daisyui";

/* Custom Theme (scholarstream) */
@plugin "daisyui/theme" {
  name: "scholarstream";
  default: true;

  --color-primary: #2563eb;
  --color-secondary: #1e40af;
  --color-accent: #3b82f6;

  --color-neutral: #0f172a;

  --color-base-100: #ffffff;
  --color-base-200: #f8fafc;

  --color-info: #38bdf8;
  --color-success: #10b981;
  --color-warning: #fbbf24;
  --color-error: #ef4444;
}

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
